body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #121212; 
    color: #b3b3b3; 
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    
}

.upper-half, .lower-half {
    display: grid;
    grid-gap: 20px;
}

.upper-half {
    grid-template-columns: 2fr 1fr;
}

.lower-half {
    grid-template-columns: 1fr 1fr;
}

#spotify-streams-to-metrics, #youtube-views-to-likes, #youtube-views-and-likes-to-metrics {
    background: 	#212121; 
    border: 1px solid #535353; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.artist-information-box {
    background: #212121;
    padding: 20px;
    border: 1px solid #535353;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.artist-information-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.select-wrapper {
  margin-bottom: 20px; 
  color: #b3b3b3;
  width: 100%;
}

.select-wrapper label {
  display: block;
  margin-bottom: 8px;
}

.select-wrapper select, .select-wrapper input {
  width: 100%;
  padding: 8px;
  border: 1px solid #535353;
  border-radius: 4px;
  background-color: #212121;
  color: #b3b3b3;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
}

.select-wrapper input[type="number"] {
  -moz-appearance: textfield; /* Removes increment/decrement arrows */
}

/* Style for removing the increment/decrement arrows for input type number in Webkit browsers */
.select-wrapper input[type="number"]::-webkit-outer-spin-button,
.select-wrapper input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.axis-controls {
  margin-top: 20px; 
}

.axis-controls label {
  display: block;
  margin-bottom: 10px;
} 

.axis-controls select {
  width: calc(33.33% - 5px); 
  margin-right: 10px; 
  display: inline-block;
  vertical-align: top;
}

#x-axis-controls {
  margin-top: 40px; 
}

#y-axis-container {
  margin-top: 40px; 
}

#y-axis-select {
  margin-top: 0; 
}

.audio-player {
    color: #b3b3b3;
    margin-top: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px; 
}

.button-group .btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #b3b3b3;
    font-size: 20px;
    cursor: pointer;
}

.button-group .btn:hover {
    background-color: #1db954;
}

.progress-container {
    height: 5px;
    background-color: #535353;
    border-radius: 5px;
    width: 100%;
    margin-top: 80px; 
}

.progress-bar {
    height: 100%;
    width: 60%;
    background-color: #1db954;
    border-radius: 5px;
}

.time-stamp {
    margin-top: 10px;
    color: #b3b3b3;
    font-size: 14px;
}


